@font-face {
font-family: "GothamHTF-Book";
font-style: normal;
font-weight: normal;
src: url("GothamHTF-Book.woff");
/*src: local('GothamHTF-Book'), url('GothamHTF-Book.woff') format('woff');*/
}

img, 
embed, 
object, 
video {
	max-width: 100%;
}

h1 {
	font-family: GothamHTF-Book, Helvetica, Arial;
	font-size: 43px;
}

h2 {
	font-family: GothamHTF-Book, Helvetica, Arial;
	font-size: 27px;
}

h3 {
	font-family: GothamHTF-Book, Helvetica, Arial;
	font-size: 15px;
}

.image-center {
	display: block;
	margin: 0 auto;
}

.project-headline {
	text-align: center;
}

@media screen and (min-width: 993px){
	.project-headline {
		text-align: left
	}
}

.featured-link {
	font-family: GothamHTF-Book, Helvetica, Arial;
	font-size: 11px;
}